.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;

    




#news-list {
    margin-bottom: 5px;
}

#news-toggle {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
    transition: color 0.3s;
}

#news-toggle:hover {
    color: #007bff; /* 悬停时变蓝色 */
}

/* 让隐藏的 li 在展开时正常显示 */
#more-news li {
    margin-top: 10px; /* 保持与上方间距一致 */
}
