.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;

    





#news-toggle {
    cursor: pointer;
    color: #333;
    font-weight: bold;
    display: inline-block;
    padding: 0 4px;
    border-radius: 3px;
    background-color: #eee; /* 给省略号加个浅色背景，像个按钮 */
}

#news-toggle:hover {
    background-color: #d3d3d3;
}

#more-news li {
    margin-top: 10px; /* 保持行间距 */
}
